body {
    padding-top: 5rem;
    background-color: rgb(243, 244, 246);
    font-family: 'Source Sans Pro', sans-serif;
}


p{
    margin-left:15px;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
}



.container{
    height:2000px;
}


/* Property.html*/

.property-text{
    padding-left: 20px;
    padding-top:10px;
}

.property-container{
    display:flex;
    align-content: center;
    justify-content: center;
}

.property{
    margin-top: 4em;
    background-color:white;
    display:flex;
    flex-direction: row;
    width:850px;
    height:355px;
    position:relative;
    border:2px solid rgb(232, 234, 237);
    overflow: auto;
}
.seperate{
    display:flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.property-title{
    margin-left: 0;
    margin-top: 12px;
    font-size:20px;
    font-weight: 600;
}

.property-description{
    font-size: medium;
    margin-left:0px;
    padding-right:10px;
    flex-shrink: 1;
}

.pack{
    margin-bottom: 0;
    margin-left:0;
    margin-right:1em;
    font-size:15px;
}


.imgholder{
    height:100%;
    width:350px;
    flex-shrink: 0;
}

.imgholder img{
    height:100%;
    width:100%;
    object-fit: cover;
}

#price{
    background-color:rgb(95, 165, 250);
    width:fit-content;
    color:white;
    padding: 2px 10px;
    text-align: center;
    border:none;
    border-radius: 56px;
    margin-right:1em;
    font-size: 13px;
    font-weight: 600;
}

#type{
    background-color:rgb(251, 191, 35);
    width:fit-content;
    color:white;
    padding: 2px 10px;
    text-align: center;
    border:none;
    border-radius:50px;
    font-size: 13px;
    font-weight: 600;
}

#email{
    background-color: rgb(21, 184, 167);
    width:fit-content;
    color:white;
    padding: 6px 12px;
    text-align: center;
    border:none;
    border-radius: 6px;
    margin-top: 1.5em;
    margin-bottom: .5em;
    position:relative;
    bottom:0;
}


/* Properties.html*/

h1{
    font-weight: 700;
}

.alert{
    font-size: 18px;
    color: red;
    font-weight: 700;
}

.sproperty-container{
    display:flex;
    flex-direction: column;
    height:350px;
    width:300px;
    margin:0.5em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 1px #888888;
}

.propertiesimage{
    max-width: 100%;
    max-height:180px;
    object-fit: cover;
}

.price{
    width:fit-content;
    background-color:rgb(95,164,250);
    padding: 2px 10px;
    border-radius:14px;
    color:rgba(255, 255, 255, 0.918);
    border:none;
    margin-bottom: 20px;
    font-size:13px;
    margin-left:1em;
}

.properties{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.View{
    background-color:rgb(21,184,167);
    margin-top:auto ;
}

.viewproperty{
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:100%;
}

.title{
    margin-top: .5em;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.5px;
    margin-right: 4px;
}

.location{
    font-size: 14px;
    color:rgba(204,208,214);
}

.fa-solid{
    margin-right: 5px;
}

/* create.html*/

.form{
    display:flex;
    flex-direction: column;
    background-color: white;
    height:600px;
    width:600px;
}

form{
    padding-top: 30px;
    padding-left: 20px;
    width:80%;
    display: flex;
    flex-direction: column;
}

.formstyle{
    margin-bottom: 1em;
    border-radius: 4px;
    border-style:solid;
    border-color:rgb(230, 227, 227);
}



.formlabel{
    font-weight: 600;
}


.addprop{
    background-color:rgb(41,135,205);
    padding: 6px 20px;
    border-radius:6px;
    color:white;
    font-weight:600;
    border:none;
    margin-top: 2em;
    width:fit-content;
}

.one{
    display:flex;
    flex-direction: column;
    width:50%;
    margin-right: 1em;
}

.two{
    display:flex;
    flex-direction: column;
    width:50%;
}

.omega{
    display:flex;
    flex-direction:row;
}

.validation_error{
    color:red;
    font-size: 12px;
    font-weight: 600;
}

select{
    background-color:white;
    padding:1px 2px;
    width:222px;
    height:30px;
    border-width: 2px;
}


textarea{
    resize: none;
    height:60px;
    border-width:2px;
}







