{% extends "base.html" %}

{% block main %}
<h1>Add New Property</h1>
<div class="form">
    <form method="POST" action="/properties/create" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{form.Title.label(class="formlabel")}}
    {{form.Title(class="formstyle")}}
    {{form.Description.label(class="formlabel")}}<span class="validation_error">{{ ', '.join(form.Description.errors) }}</span>
    {{form.Description(class="formstyle")}}
    <div class="omega">
        <div class="one">
            {{form.NumOfBed.label(class="formlabel")}}<span class="validation_error">{{ ', '.join(form.NumOfBed.errors) }}</span>
            {{form.NumOfBed(class="formstyle")}}
            {{form.Price.label(class="formlabel")}}<span class="validation_error">{{ ', '.join(form.Price.errors) }}</span>
            {{form.Price(class="formstyle")}}
            {{form.Location.label(class="formlabel")}}
            {{form.Location(class="formstyle")}}
        </div>
        <div class="two">
            {{form.NumOfBath.label(class="formlabel")}} <span class="validation_error">{{ ', '.join(form.NumOfBath.errors) }}</span>
            {{form.NumOfBath(class="formstyle")}}
            {{form.Type.label(class="formlabel")}}
            {{form.Type(class="formstyle")}}
        </div>
    </div>
    {{form.Photo.label(class="formlabel")}}
    <span class="validation_error">{{ ', '.join(form.Photo.errors) }}</span><br>
    {{form.Photo}}
    <button type="submit" class="addprop">Add Property</button>
    </form>
</div>
{% endblock %}