{% extends "base.html" %}

{% block main %}
<div class="property-container">
    {% include 'flash-messages.html' %}
    <div class="property">
        <div class="imgholder">
            <img class="single" src="{{url_for('get_image',image=property.photoName)}}", alt="pic">
        </div>
        <div class="property-text">
            <p class="property-title">{{property.title}}</p>
            <div class="seperate">
                <button type="button" id="price">{{"${:,.0f}".format(property.price)}}</button>
                <button type="button" id="type">{{property.typeOfHouse}}</button>
            </div>
            <p class="property-description">{{property.description}}</p>
            <div class="seperate">
                <p class="pack"><i class="fa-solid fa-bed"></i></i>{{property.numofBed}} Bedrooms</p>
                <p class="pack"><i class="fa-solid fa-bath"></i>{{property.numofBath}} Bathrooms</p>
            </div>
            <p class="pack"><i class="fa-solid fa-location-dot"></i>{{property.location}}</p>
            <button type="button" id="email">Email Realtor</button>
        </div>
    </div>
</div>
{% endblock %}